@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0 370px;
    background-color: white;
    height: 1000px;
}

.seq {
    padding: 5px;
}

.btn {
    background: transparent;
    border-width: 0;
    position: relative;
    font-size: 14px;
    cursor: pointer;
}

.btn span {
    display: block;
    position: relative;
    z-index: 3;
    background: #41294a;
    color: white;
    padding: 0 30px;
    line-height: 40px;
}

.input {
    margin: 10px;
    padding: 10px;
    width: 175px;
    height: 40px;
    font-size: 16px;
    border-width: 1px;
    border-color: darkslateblue;
}

li { 
    list-style-type: none;
} 

ol {
    counter-reset: list1;
}

ol li:before {
    counter-increment: list1;
    content: counter(list1) ". ";
}

ol ol {
    counter-reset: list2;
}

ol ol li:before {
    counter-increment: list2; 
    content: counter(list1) "." counter(list2) ". ";
}

p {
    font-size: 12px;
    display: inline;
    color: gray;
    margin: 0px;
    padding: 0;
}
